
.flag {
    display: block;
    width: 40px;
    height: auto;
    margin-right: 12px;
    filter: brightness(1.1);
}

.imgSpanLogo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.filter-content-div {
    padding-left: var(--country-grid-padding);
    display: flex;
    gap: 20px;
    align-items: center;
}

.filter-content-div label {
    display: flex;
    align-items: center;
    height: var(--header-div-height);
    padding: 0 15px;
    border-radius: 9px;
    background-color: var(--ag-background-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.filter-content-div input[type="radio"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.filter-content-div input[type="radio"]:checked + span {
    color: #b3c7e6;
}

.ag-country-grid {
    height: 100%;
}

.country-grid {
    height: calc(100% - var(--header-div-height) - (2 * var(--country-grid-padding)));
    padding: var(--country-grid-padding);
}

.outer-country-table {
    height: 100%;
    width: 100%;
    --header-div-height: 36px;
    --country-grid-padding: 10px;
}

#filter-text-box {
    height: var(--header-div-height);
    background: #304059;
    border-radius: 10px;
    border: 1px white;
}

a {
    color: #333333;
    text-decoration: none;
}