.flag {
    display: block;
    width: 40px;
    height: auto;
    margin-right: 12px;
    filter: brightness(1.1);
}

.imgSpanLogo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    appearance: none;
    background-color: var(--ag-background-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 36px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 0.375em 1em 0.4em;
    white-space: nowrap;
    margin-right: 6px;
    margin-bottom: 8px;
    transition: background-color .25s ease-in-out;
}

.buttons-div {
    height: 36px;
    width: 100%
}

.country-grid {
    height: calc(100% - 36px);
    width: 100%
}

.outer-country-table{
    height: 100%;
    width: 100%;
}